@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Poppins', sans-serif;
    max-width: 2800px;
}

.wrapper {
    max-width: 1800px;
}

.view-all {
    border-bottom: 2px solid #F28482;
}

.bg-blurred {
    background: rgba(20, 16, 16, 0.51);
    backdrop-filter: blur(4.349999904632568px); 
}

.category {
    height: 280px;
    width: 280px;
}

hr {
    border-bottom: 1px solid #F28482;
}

@keyframes fall {
    0% { transform: translateY(-200px); opacity: 0; }
    100% { transform: translateY(10px); opacity: 1; }
}

.figure {
    position: relative;
    display: grid;
    grid-template-columns: repeat(5, 128px);
    grid-template-rows: repeat(7, 128px);
    gap: 1px;
}

.figure img {
    animation: fall ease-out forwards;
    animation-duration: 1s;
}

.figure img:nth-child(odd) {
    animation-delay: 0.4s;
}

.figure img:nth-child(even) {
    animation-delay: 0.5s;
}

.figure img:nth-child(3n) {
    animation-delay: 0.6s;
}

.figure img:nth-child(4n) {
    animation-delay: 0.7s;
}

.listing-image {
    height: 27rem;
}

.border {
    border: 1px solid #22222253;
}

.border-b {
    border-bottom: 1px solid #22222253;
}

@media screen and (max-width: 575px) {
    .gallery-object {
        height: 22rem;
    }

    .frontpage-image {
        height: 16rem;
    }
}

/* SMALL */

@media (min-width: 576px) and (max-width: 1023px) {
    .gallery-object {
        height: 30rem;
    }
    
    .frontpage-image {
        height: 24rem;
    }
}

/*LARGE*/

@media (min-width: 1024px) and (max-width: 1279px) {
    .gallery-object {
        height: 36rem;
    } 
}

@media (min-width: 1280px) and (max-width: 1535px) {
    .figure {
        grid-template-columns: repeat(5, 100px);
        grid-template-rows: repeat(7, 100px);
    }

    .main-image {
        min-height: 30rem;
    }

    .wrapper {
        max-width: 1400px;
    }
}

@media screen and (min-width: 1280px) {
    .gallery-object {
        height: 32rem;
    } 

    .frontpage-image {
        height: 40rem;
    }

    .rounded-edges {
        border-radius: 0px 50% 50% 0px;
    }
}

@media screen and (min-width: 1536px) {
    .main-image {
        min-height: 38rem;
    }
}

.active {
    display: flex;
}

.modal {
    background: rgba(37, 37, 37, 0.46);
    backdrop-filter: blur(2px);
}
