@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Poppins', sans-serif;
    max-width: 2800px;
}

footer {
    background-color: #F6F6F6;
}

.wrapper {
    max-width: 1800px;
}

.figure {
    grid-template-columns: repeat(5, 128px);
    grid-template-rows: repeat(7, 128px);
    gap: 1px;
}

@media (min-width: 1280px) and (max-width: 1535px) {
    .figure {
        grid-template-columns: repeat(5, 100px);
        grid-template-rows: repeat(7, 100px);
    }
}

.searchbar {
    bottom: -30px;
}

.view-all {
    border-bottom: 2px solid #4ADE80;
}

.category {
    height: 280px;
    width: 280px;
}

hr {
    border-bottom: 1px solid #158252;
}