@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Poppins', sans-serif;
}

/* WRAPPERS */

.wrapper {
    max-width: 2000px;
    padding: 0% 5%;
}

.header-wrapper {
    max-width: 2200px;
    padding: 0% 5%;
}

/* BUTTONS AND A-ELEMENTS */

.view-all {
    border-bottom: 2px solid #F28482;
}

/* IMAGES AND BACKGROUNDS */

.bg-blurred {
    background: rgba(20, 16, 16, 0.51);
    backdrop-filter: blur(4.349999904632568px); 
}

.listing-image {
    height: 26rem;
}

/* BORDERS */

.border {
    border: 1px solid #22222234;
}

.border-t {
    border-top: 1px solid #22222234;
}

.border-b {
    border-bottom: 1px solid #22222234;
}

hr {
    border-bottom: 1px solid #F28482;
}

/* RELATED TO JS */

.active {
    display: flex;
}

/* MODALS */

.modal {
    background: rgba(37, 37, 37, 0.46);
    backdrop-filter: blur(2px);
}

/* SIGN UP FIGURE */

@keyframes fall {
    0% { transform: translateY(-200px); opacity: 0; }
    100% { transform: translateY(10px); opacity: 1; }
}

.figure {
    position: relative;
    display: grid;
    grid-template-columns: repeat(5, 128px);
    grid-template-rows: repeat(7, 128px);
    gap: 1px;
}

.figure img {
    animation: fall ease-out forwards;
    animation-duration: 1s;
}

.figure img:nth-child(odd) {
    animation-delay: 0.4s;
}

.figure img:nth-child(even) {
    animation-delay: 0.5s;
}

.figure img:nth-child(3n) {
    animation-delay: 0.6s;
}

.figure img:nth-child(4n) {
    animation-delay: 0.7s;
}

/* MEDIA QUERIES */

/* X-SMALL */ @media screen and (max-width: 575px) {
    .gallery-object {
        height: 22rem;
    }

    .frontpage-image {
        height: 16rem;
    }
}

/* SMALL */ @media (min-width: 576px) and (max-width: 1023px) {
    .gallery-object {
        height: 30rem;
    }
    
    .frontpage-image {
        height: 24rem;
    }
}

/* LARGE */ @media (min-width: 1024px) and (max-width: 1279px) {
    .gallery-object {
        height: 36rem;
    } 

    .frontpage-image {
        height: 35rem;
    }
}

/* X-LARGE */ @media (min-width: 1280px) and (max-width: 1535px) {
    .figure {
        grid-template-columns: repeat(5, 100px);
        grid-template-rows: repeat(7, 100px);
    }

    .main-image {
        min-height: 30rem;
    }

    .wrapper {
        max-width: 1400px;
    }
}

/* X-LARGE AND 2X-LARGE */ @media screen and (min-width: 1280px) {
    .gallery-object {
        height: 32rem;
    } 

    .frontpage-image {
        height: 40rem;
    }
}

/* LARGE, X-LARGE AND 2X-LARGE */ @media screen and (min-width: 1024px) {
    .rounded-edges {
        border-radius: 0px 50% 50% 0px;
    }
}

/* 2X-LARGE */ @media screen and (min-width: 1536px) {
    .main-image {
        min-height: 38rem;
    }
}